.hand {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem;
  gap: -8px;
}

.hand > * {
  margin-left: -14px;
}

.hand > *:first-child {
  margin-left: 0;
}
